
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html { 
  height: 100%;
  background: 
    linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
    url('./images/USA_Counties.svg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body * { 
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

/*************************************************************
/ HEADER
*************************************************************/
header {
  width: 100%;
  background: white;
  border-bottom: 2px solid royalblue;
}

.navbar-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  color: royalblue;
  font-size: 0;
  max-width: 75rem;
  margin: 0 auto;
}

.navbar-list > li {
  font-size: 1rem;
  padding: 0.7rem 1rem;   
}

.navbar-list > li:first-child {
  margin-right: auto;
  font-size: 1.1rem;
  font-weight: 500;
}

.navbar-list a,
.navbar-list a:link,
.navbar-list a:visited,
.navbar-list a:hover,
.navbar-list a:active {
  text-decoration: none;
  color: royalblue;
}

/*************************************************************
/ FOOTER
*************************************************************/
footer {
  width: 100%;
  border-top: 1px solid gray;
  background: white;
  text-align: center;
  padding: 20px 0;
}

footer p {
  font-size: 0.8rem;
  margin: 10px 0;
}

/*************************************************************
/ MEDIA QUERIES
*************************************************************/

/*up to large phone, small tablet*/
@media only screen and (max-width: 650px) {
  .navbar-list > li {
    padding: 0.7rem 0.5rem;   
  }
}
