#notfound {
  background-color: white;
  width: 95%;
  max-width: 60rem;
  margin: 50px auto;
  border: 1px solid gray;
  border-radius: 3px;
  box-shadow: 3px 3px gray;
  padding: 15px 50px;
  min-height: 800px;
}

#notfound h1 {
  color: royalblue;
}

#notfound p {
  margin: 25px 0;
  line-height: 1.5;
}

/*************************************************************
/ MEDIA QUERIES
*************************************************************/

/*up to large phone, small tablet*/
@media only screen and (max-width: 650px) {
  #notfound {
    padding: 15px;
  }
}
